* {
  font-family: Helvetica;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card.border-primary > .card-header{
  background-color: #0d6efd;
  color: #FFF;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.btn-info {
  color: #FFF;
}
.btn-info:disabled {
  color: #FFF;
}
.btn-info:hover {
  background-color: #61DAFB;
  color: #FFF;
}
